<div class="container my-3">
    <div class="col">
        <div class="p-3 border bg-light text-center">Employee Registration</div>
    </div>
</div>
<div class="container px-4 my-3">
    <div class="row gx-5">
        <div class="col-md-5">
            <div class="p-3  bg-light">
                <app-employee></app-employee>
            </div>
        </div>
        <div class="col-md-7">
            <div class="p-3  bg-light">
                <app-employee-list></app-employee-list>
            </div>
        </div>
    </div>
</div>